
.ngo-container{
    display:flex;
    flex-direction: row;
   height: 100%;
}
main{
    height: 100%;
    padding-left: 2px;
}


.ngo-container .ngo-sidebar{
    background: black;
    color: white;
    height: 100%;
    transition: all 0.5s;
   
}
.ngo-container .top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    font-size: 30px;
    color: white;
}
.ngo-container .ngo-sidebar .bars{
    /* display: flex;
    font-size: 25px;
    margin-left: 50px;
    color: white; */
    display: flex;
    font-size: 25px;
    margin-left: 50px;

}
.link{
    display: flex;
    color: white;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background:#ffc451;
    color: #343a40;
    transition: all 0.5s;
}
.icon:hover{
    color: #343a40;
}
.active{
    background: #ffc451;
    color: #343a40;
}

.icon, .link_text{
    font-size: 20px;
} 



  

