.ngo-signup-container form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 10px;
  width:100%;
  border: 1px solid black;
}

.ngo-signup-container form h2{
  display: flex;
  justify-content: center;
  font-size: 35px;
  padding: 10px;
  font-weight: bolder;
}
.ngo-signup-container form input
{
  padding: 10px;
  border: none;
  border: 1px solid black;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  transition: border-bottom-color 0.3s ease-in-out;
}
.ngo-signup-container form select{
  width: 50%;
  border: 1px solid black;
  font-size: 16px;
  box-sizing: border-box;
}
.ngo-signup-container form label
{

  border-radius: 5px;
  font-size: 20px;
  box-sizing: border-box;
  transition: border-bottom-color 0.3s ease-in-out;
}

.ngo-signup-container  button {
  display:  flex;
  padding: 12px;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #ffc451;
  color: white;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.ngo-signup-container button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #636272;
  color:black;
  cursor: not-allowed;
text-align: center;
 margin: auto;
 display: flex;
 justify-content: center;

}
.ngo-signup-container p{
  font-size: small;
  text-align: center;
  
}
.ngo-signup-container input[type="checkbox"] {
  width: 1.2em;
  height: 1.2em;
  margin-left: 20px;
  border-radius: 0.15em;
  margin-right: 0.5em;
  display: inline-block;
  border: 0.15em solid #007a7e;
  outline: none;
  cursor: pointer;
}
.ngo-signup-container .check{
  width: 20px;
  display: inline-block;
}
.ngo-signup-container .cb-label{
  display: block;

}

/* 
  
 
  
  .ngo-signup-container label {
    margin-bottom: 8px;
    font-size: 14px;
  }
  
  .ngo-signup-container sup {
    color: red;
    top: -2px;
    font-size: 95%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  .ngo-signup-container input,
  select {
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 32px;
    padding: 0 8px;
  }
  
  .ngo-signup-container .Field {
    position: relative;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
  }
  
  .ngo-signup-container .FieldError {
    position: absolute;
    bottom: -6px;
    color: red;
    font-size: 12px;
  }
  
  .ngo-signup-container .Row {
    display: flex;
    flex-direction: row;
  }
  
 .ngo-signup-container  button {
    display:  flex;
    padding: 12px;
    width: 240px;
    margin: auto;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: darkblue;
    color: white;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .ngo-signup-container button:disabled,
  button[disabled] {
    border: 1px solid #999999;
    background-color: #636272;
    color:black;
    cursor: not-allowed;
  text-align: center;
   margin: auto;
   display: flex;
   justify-content: center;
 
  }
  .ngo-signup-container p{
    font-size: smaller;
    text-align: center;
    
  }
  .ngo-signup-container .checkbox-wrapper input[type="checkbox"] {
    width: 1em;
    height: 1em;
    border-radius: 0.15em;
    margin-right: 0.5em;
    display: inline-block;
    border: 0.15em solid #007a7e;
    outline: none;
    cursor: pointer;
  }
  .ngo-signup-container .check{
    width: 20px;
    display: inline-block;
  }
  .ngo-signup-container .label{
    display: inline-block;
  } */