/* Login form */
.form-container{
  width: 35%;
  margin: 100px auto;
  border-radius: 5px;
  border: 1px solid #aba8a8;
  padding: 10px 20px;
  
}

form {
  margin-top: 10px;
}

h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: bold;
  color: #e74c3c;
  margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 17px;
  border: 1px solid #ccc;
  width: 100%;
}
.form-label, label {
  font-size: 20px;
  margin-bottom: 40px;
}

button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

button:hover {
  background-color: #b02617;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.form-container p{
  text-align: center;
}

.form-container p a{
  padding: 5px;
  border-radius: 50px;
  color: #e74c3c;
  font-weight: bold;
}

.form-container p a:hover{
  color: #fefefe;
  background: #e74c3c;
}