/* Login form */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.login-image {
  margin-right: 5rem;
  margin-left: 7rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-container{
  width: 35%;
  margin: 0 auto;
  border-radius: 20px;
  border: 1px solid #aba8a8;
  padding: 10px 20px;
  
}

.form-container form {
  margin-top: 10px;
}

.form-container form h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: bold;
  color: #ffc451;
  margin-bottom: 20px;
}

.form-container input[type="email"],
.form-container input[type="password"] {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 17px;
  border: 1px solid #ccc;
  width: 100%;
}
.form-label, label {
  font-size: 20px;
  margin-bottom: 20px;
}

.form-container form button {
  background-color: #ffc451;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-container button:hover {
  background-color: #ffc451;
}

.form-container input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.form-container p{
  text-align: center;
}

.form-container p a{
  padding: 5px;
  border-radius: 50px;
  color: #ffc451;
  font-weight: bold;
}

.form-container p a:hover{
  color: #fefefe;
  background: #ffc451;
}