*{
    margin:0;
    padding:0;
    text-decoration: none;
}

.sidebar-container{
    display: flex;
    
}
main{
    padding: 20px;
}

.sidebar{
    background: #fefefe;
    color: #e74c3c;
    height: 100vh;
    transition: all 0.5s;
}

.top_section{
    display: flex;
    align-items: center;
    padding: 20px 15px;

}

.logo{
    font-size: 30px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}

.link{
    display: flex;
    color: #e74c3c;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}

.link:hover{
    background-color: #e74c3c;
    color: #fff;
    transition: all 0.5s;
}

.active{
    background: #e74c3c;
    color: #fff;
}

.icon, .link_text{
    font-size: 20px;
}