

.needy-header header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:black;
  padding: 0.7rem;
 
}

.needy-header .logo {
  flex-direction: flex-start;
  margin-left: 20px;
  /* flex: 1; */
  /* text-align: center; */
}


.needy-header  .logo img {
  height: 50px;
}

.needy-header .icons {
  display: flex;
  gap: 2rem;
  padding-left: 30px;
  padding-right: 30px;
}


.needy-header  .icon {
  font-size: 1.5rem;
  color: #ffc451;
}
.needy-header  .iconsign {
  display: flex;
  gap: 1rem;
}

.needy-header  .signout-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 10px 20px;
  border: none;
  background-color:#ffc451;
  color: #343a40;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}

.needy-header  .signout-btn:hover {
  background-color: #d5a036;
  color: #000000;
}