.createPost{
    width:50%;
     margin: 10px auto 0;
     display: flex;
     
     }
     .document{
         margin-right:20px;
     }
     h1{
        text-align: center;
        padding: 2rem;
    
     }
     