.donor-header header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:black;
    padding: 0.7rem;
   
}
  
.donor-header .logo {
    flex: 1;
    margin-left: 10px;
  }
  
 
  .donor-header  .logo img {
    height: 50px;
    color: #fff;
  }
  
  .donor-header .icons {
    display: flex;
    gap: 2rem;
    padding-left: 30px;
    padding-right: 30px;
  }
  

  .donor-header  .icon {
    font-size: 1.5rem;
    color:  #ffc451;
  }
  .donor-header  .iconsign {
    display: flex;
    gap: 1rem;
  }
  
  .donor-header  .signout-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 10px 20px;
    border: none;
    background-color: #ffc451;
    color: #343a40;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .donor-header  .signout-btn:hover {
    background-color: #d59b25;
    color: #000000;
  }