
.donor-sidebar-container{
    display:flex;
}
.donor-sidebar-container .top_section h1{
    color: #fff;
}

.donor-sidebar-container .sidebar{
    background: black;
    height: 100vh;
    /* width: 200px; */
    transition: all 0.5s;
   
}
.donor-sidebar-container .top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.donor-sidebar-container .logo{
    font-size: 30px;
    color: white;
}
.donor-sidebar-container .bars{
    display: flex;
    font-size: 25px;
    margin-left:   150px;
    color: #fff;
}
.donor-sidebar-container .link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.donor-sidebar-container .link:hover{
    background:#ffc451;
    color: #343a40;
    transition: all 0.5s;
}
.donor-sidebar-container .icon:hover{
    color: #ffc451;
}
.donor-sidebar-container .active{
    background: #ffc451;
    color: #000;
}

.donor-sidebar-container .icon, .link_text{
    font-size: 20px;
}
