
.sidebar-container{
    display: flex;
    border-top-left-radius: 50px;
    height: 100%;
    
}

.sidebar-container .sidebar{
    /* background: #fefefe; */
    color: #fff;
    height: 170vh;
    transition: all 0.5s;
    background: black;
    margin-top: 76px;
}
main{
    padding-left: 2px;
}
.sidebar-container .top_section{
    display: flex;
    align-items: center;
    padding: 20px 15px;

}

.sidebar-container .logo{
    font-size: 30px;
}
.sidebar-container .bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}

.sidebar-container .link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}

.sidebar-container .link:hover{
    background-color: #ffc451;
    color: #343a40;
    transition: all 0.5s;
}

.sidebar-container .active{
    background: #ffc451;
    color: #343a40;
}

.sidebar-container .icon, .link_text{
    font-size: 20px;
}

@media only screen and (max-width:900px){
    .sidebar-container .sidebar{
        color: #fff;
        height: 210vh;
        transition: all 0.5s;
        background: black;
        margin-top: 76px;
    }
}