*{
    margin:0;
    padding:0;
    text-decoration: none;
}

.sidebar-container{
    display: flex;
    border-top-left-radius: 50px;
    
}

.sidebar{
    /* background: #fefefe; */
    color: #fff;
    height: 170vh;
    transition: all 0.5s;
    background: black;
    margin-top: 76px;
}
main{
    padding-left: 2px;
}
.top_section{
    display: flex;
    align-items: center;
    padding: 20px 15px;

}

.logo{
    font-size: 30px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}

.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}

.link:hover{
    background-color: #ffc451;
    color: #343a40;
    transition: all 0.5s;
}

.active{
    background: #ffc451;
    color: #343a40;
}

.icon, .link_text{
    font-size: 20px;
}