#title {
    text-align: center;
    font-family: arial, sans-serif;
  }
  
  #needy {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
  }
  
  #needy td, #needy th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #needy tr:nth-child(even){background-color: #f2f2f2;}
  
  #needy tr:hover {background-color: #ddd;}
  
  #needy th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #ffc451;
    color: white;
  }
  